Repository CloudHub-Social/CloudHub-Cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/templates

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/templates:
  - "tmpl/**/*"

Add cluster/production/flux-system/kustomization.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/gotk-sync.yaml
Labels: none

Add cluster/production/flux-system/kustomization.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/gotk-sync.yaml
Labels: none

Add cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add cluster/production/flux-system/kustomization.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/gotk-sync.yaml
Labels: none

Add cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-components.yaml
Labels: none

update terraform
  terraform/kube-cluster/main.tf
Labels: none

Add cluster/production/flux-system/kustomization.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/gotk-sync.yaml
Labels: none

Add cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add Flux v0.41.2 component manifests
  clusters/production/flux-system/gotk-components.yaml
Labels: none

update terraform
  terraform/flux/main.tf
Labels: none

Add Flux sync manifests
  clusters/production/flux-system/gotk-sync.yaml
  clusters/production/flux-system/kustomization.yaml
Labels: none

update terraform
  terraform/flux/main.tf
Labels: none

flux updates
  cluster/production/apps.yaml
  clusters/production/flux-system/gotk-components.yaml
  clusters/production/flux-system/gotk-sync.yaml
  clusters/production/flux-system/kustomization.yaml
Labels: none

Update Flux
  cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

try again
  cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
  terraform/flux/terraform
Labels: none

Add Flux v0.41.2 component manifests
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

update apps
  cluster/production/apps.yaml
Labels: none

update secret
  cluster/production/apps.yaml
Labels: none

move apps config
  kubernetes/apps/apps.yaml
Labels: area/kubernetes

new api version
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  tmpl/kubernetes/flux/cluster.yaml
Labels: area/kubernetes, area/templates

Update flux config
  cluster/production/apps.yaml
  cluster/production/kustomization.yaml
Labels: none

Update Flux
  cluster/production/flux-system/kustomization.yaml
Labels: none

update kustomization
  cluster/production/kustomization.yaml
Labels: none

Update config
  cluster/production/config/kustomization.yaml
  cluster/production/kustomization.yaml
Labels: none

Updates
  cluster/production/config/repositories/kustomization.yaml
  cluster/production/kustomization.yaml
Labels: none

Flux Updates
  cluster/production/config/kustomization.yaml
  cluster/production/config/notifications/kustomization.yaml
  cluster/production/config/repositories/git/kustomization.yaml
  cluster/production/kustomization.yaml
Labels: none

Flux Updates
  cluster/production/config/kustomization.yaml
  cluster/production/config/repositories/helm/cilium.yaml
  cluster/production/kustomization.yaml
Labels: none

update flux
  cluster/production/kustomization.yaml
Labels: none

updates
  cluster/production/config/kustomization.yaml
  cluster/production/kustomization.yaml
Labels: none

update
  cluster/production/config/kustomization.yaml
Labels: none

restructure
  cluster/production/config/kustomization.yaml
  cluster/production/kustomization.yaml
  cluster/production/repositories/git/flux-monitoring.yaml
  cluster/production/repositories/git/kustomization.yaml
  cluster/production/repositories/git/local-path-provisioner.yaml
  cluster/production/repositories/helm/authentik.yaml
  cluster/production/repositories/helm/bitnami.yaml
  cluster/production/repositories/helm/bjw-s.yaml
  cluster/production/repositories/helm/cilium.yaml
  cluster/production/repositories/helm/external-dns.yaml
  cluster/production/repositories/helm/external-secrets.yaml
  cluster/production/repositories/helm/grafana.yaml
  cluster/production/repositories/helm/hajimari.yaml
  cluster/production/repositories/helm/ingress-nginx.yaml
  cluster/production/repositories/helm/jetstack.yaml
  cluster/production/repositories/helm/k8s-gateway.yaml
  cluster/production/repositories/helm/kubernetes-dashboard.yaml
  cluster/production/repositories/helm/kustomization.yaml
  cluster/production/repositories/helm/local-path-provisioner.yaml
  cluster/production/repositories/helm/metallb.yaml
  cluster/production/repositories/helm/metrics-server.yaml
  cluster/production/repositories/helm/prometheus-community.yaml
  cluster/production/repositories/helm/rook-ceph.yaml
  cluster/production/repositories/helm/stakater.yaml
  cluster/production/repositories/helm/weave-gitops.yaml
  cluster/production/repositories/kustomization.yaml
  cluster/production/repositories/oci/.gitkeep
Labels: none

update
  cluster/production/kustomization.yaml
Labels: none

update
  cluster/production/repositories/kustomization.yaml
Labels: none

update
  cluster/production/repositories/helm/kustomization.yaml
  cluster/production/repositories/helm/local-path-provisioner.yaml
Labels: none
