Repository CloudHub-Social/CloudHub-Cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/templates

update
  cluster/production/flux-system/gotk-secrets.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

update
  cluster/production/flux-system/gotk-secrets.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

restructure
  cluster/production/config/apps.yaml
  cluster/production/config/cluster-secrets.sops.yaml
  cluster/production/config/cluster-settings.yaml
  cluster/production/config/kustomization.yaml
  cluster/production/config/notifications/kustomization.yaml
  cluster/production/config/repositories/git/flux-monitoring.yaml
  cluster/production/config/repositories/git/local-path-provisioner.yaml
  cluster/production/config/repositories/helm/authentik.yaml
  cluster/production/config/repositories/helm/bitnami.yaml
  cluster/production/config/repositories/helm/bjw-s.yaml
  cluster/production/config/repositories/helm/cilium.yaml
  cluster/production/config/repositories/helm/external-dns.yaml
  cluster/production/config/repositories/helm/external-secrets.yaml
  cluster/production/config/repositories/helm/grafana.yaml
  cluster/production/config/repositories/helm/hajimari.yaml
  cluster/production/config/repositories/helm/ingress-nginx.yaml
  cluster/production/config/repositories/helm/jetstack.yaml
  cluster/production/config/repositories/helm/k8s-gateway.yaml
  cluster/production/config/repositories/helm/kubernetes-dashboard.yaml
  cluster/production/config/repositories/helm/metallb.yaml
  cluster/production/config/repositories/helm/metrics-server.yaml
  cluster/production/config/repositories/helm/prometheus-community.yaml
  cluster/production/config/repositories/helm/rook-ceph.yaml
  cluster/production/config/repositories/helm/stakater.yaml
  cluster/production/config/repositories/helm/weave-gitops.yaml
  cluster/production/config/repositories/oci/.gitkeep
  cluster/production/repositories/git/kustomization.yaml
  cluster/production/repositories/helm/kustomization.yaml
  cluster/production/vars/kustomization.yaml
Labels: none

update
  cluster/production/config/repositories/git/kustomization.yaml
  cluster/production/config/repositories/helm/kustomization.yaml
Labels: none

updates
  cluster/production/config/cluster-secrets.yaml
  cluster/production/config/home-kubernetes.yaml
  cluster/production/config/repositories/git/kustomization.yaml
  cluster/production/config/repositories/helm/kustomization.yaml
  cluster/production/flux-system/gotk-secrets.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Update Flux
  cluster/production/flux-system/kustomization.yaml
Labels: none

update terraform
  terraform/flux/main.tf
Labels: none

Uninstall Flux
  cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add Flux v0.41.2 component manifests
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

wrong repo
  cluster/production/config/home-kubernetes.yaml
Labels: none

Uninstall Flux
  cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add Flux v0.41.2 component manifests
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Update Flux
  cluster/production/flux-system/kustomization.yaml
Labels: none

update version
  kubernetes/apps/authentik/authentik/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/default/echo-server/ks.yaml
  kubernetes/apps/default/hajimari/ks.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/local-path-provisioner/ks.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/apps/networking/metallb/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  tmpl/kubernetes/flux/cluster.yaml
Labels: area/kubernetes, area/templates

update tf
  terraform/flux/main.tf
Labels: none

Uninstall Flux
  cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

update terraform
  terraform/flux/.terraform.lock.hcl
Labels: none

Add Flux v0.41.2 component manifests
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

update secrets interval
  cluster/production/config/home-kubernetes.yaml
Labels: none

update retry counts
  kubernetes/apps/authentik/authentik/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/default/echo-server/app/helmrelease.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/metallb/app/helmrelease.yaml
Labels: area/kubernetes

update secrets deployments
  cluster/production/config/home-kubernetes.yaml
  cluster/production/flux-system/gotk-secrets.yaml
Labels: none

Fix for talos
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

update flux version
  terraform/flux/.terraform.lock.hcl
  terraform/flux/main.tf
Labels: none

Uninstall Flux
  cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add Flux v2.0.0-rc.5 component manifests
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Fix flux api version
  README.md
  cluster/production/config/home-kubernetes.yaml
  cluster/production/config/repositories/git/flux-monitoring.yaml
  cluster/production/config/repositories/git/local-path-provisioner.yaml
  cluster/production/config/repositories/helm/authentik.yaml
  cluster/production/config/repositories/helm/bitnami.yaml
  cluster/production/config/repositories/helm/bjw-s.yaml
  cluster/production/config/repositories/helm/cilium.yaml
  cluster/production/config/repositories/helm/external-dns.yaml
  cluster/production/config/repositories/helm/external-secrets.yaml
  cluster/production/config/repositories/helm/grafana.yaml
  cluster/production/config/repositories/helm/hajimari.yaml
  cluster/production/config/repositories/helm/ingress-nginx.yaml
  cluster/production/config/repositories/helm/jetstack.yaml
  cluster/production/config/repositories/helm/k8s-gateway.yaml
  cluster/production/config/repositories/helm/kubernetes-dashboard.yaml
  cluster/production/config/repositories/helm/metallb.yaml
  cluster/production/config/repositories/helm/metrics-server.yaml
  cluster/production/config/repositories/helm/prometheus-community.yaml
  cluster/production/config/repositories/helm/rook-ceph.yaml
  cluster/production/config/repositories/helm/stakater.yaml
  cluster/production/config/repositories/helm/weave-gitops.yaml
  cluster/production/flux-system/gotk-sync.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  tmpl/kubernetes/flux/cluster.yaml
Labels: area/kubernetes, area/templates

Update
  cluster/production/config/repositories/git/flux-monitoring.yaml
Labels: none

update helm
  cluster/production/config/repositories/helm/authentik.yaml
  cluster/production/config/repositories/helm/bitnami.yaml
  cluster/production/config/repositories/helm/bjw-s.yaml
  cluster/production/config/repositories/helm/cilium.yaml
  cluster/production/config/repositories/helm/external-dns.yaml
  cluster/production/config/repositories/helm/external-secrets.yaml
  cluster/production/config/repositories/helm/grafana.yaml
  cluster/production/config/repositories/helm/hajimari.yaml
  cluster/production/config/repositories/helm/ingress-nginx.yaml
Labels: none

helm update
  cluster/production/config/repositories/helm/jetstack.yaml
  cluster/production/config/repositories/helm/k8s-gateway.yaml
  cluster/production/config/repositories/helm/kubernetes-dashboard.yaml
  cluster/production/config/repositories/helm/metallb.yaml
  cluster/production/config/repositories/helm/metrics-server.yaml
  cluster/production/config/repositories/helm/prometheus-community.yaml
  cluster/production/config/repositories/helm/rook-ceph.yaml
  cluster/production/config/repositories/helm/stakater.yaml
  cluster/production/config/repositories/helm/weave-gitops.yaml
Labels: none

talos has metrics server
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

updates
  cluster/production/config/repositories/helm/grafana.yaml
Labels: none

updates
  cluster/production/config/repositories/helm/bjw-s.yaml
  cluster/production/config/repositories/helm/external-secrets.yaml
  cluster/production/config/repositories/helm/hajimari.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes

update for metallb
  kubernetes/apps/networking/namespace.yaml
Labels: area/kubernetes

update cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

update secret
  kubernetes/apps/flux-system/weave-gitops/app/secret.sops.yaml
Labels: area/kubernetes

update cilium
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  terraform/kube-cluster/files/node-config-all.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/templates:
  - "tmpl/**/*"
