Repository CloudHub-Social/CloudHub-Cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/templates

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/templates:
  - "tmpl/**/*"

Update Flux
  cluster/production/flux-system/kustomization.yaml
Labels: none

remove calium
  kubernetes/apps/kube-system/kustomization.yaml
  terraform/kube-cluster/files/node-config-all.yaml
Labels: area/kubernetes

updates
  kubernetes/apps/system-upgrade/kustomization.yaml
  terraform/cloudflare/main.tf
Labels: area/kubernetes

Create SECURITY.md
  SECURITY.md
Labels: none

update Weave password
  cluster/production/config/cluster-secrets.yaml
Labels: none

update timeout
  cluster/production/config/home-kubernetes.yaml
Labels: none

update repos
  cluster/production/config/home-kubernetes.yaml
  cluster/production/flux-system/gotk-sync.yaml
Labels: none

update
  cluster/production/config/home-kubernetes.yaml
  cluster/production/flux-system/gotk-sync.yaml
Labels: none

test changeing kustomization location
  cluster/production/config/home-kubernetes.yaml
  cluster/production/flux-system/gotk-sync.yaml
  kubernetes/apps/kustomization.yaml
Labels: area/kubernetes

revert
  cluster/production/config/home-kubernetes.yaml
  cluster/production/flux-system/gotk-sync.yaml
Labels: none

update
  cluster/production/config/home-kubernetes.yaml
Labels: none

update
  kubernetes/apps/kustomization.yaml
Labels: area/kubernetes

update repo location
  kubernetes/apps/home-kubernetes.yaml
Labels: area/kubernetes

rename file
  kubernetes/apps/kustomization.yaml
Labels: area/kubernetes

update
  kubernetes/apps/home-kubernetes.yaml
Labels: area/kubernetes

Uninstall Flux
  cluster/production/flux-system/gotk-components.yaml
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

Add Flux v2.0.0-rc.5 component manifests
  cluster/production/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  cluster/production/flux-system/gotk-sync.yaml
  cluster/production/flux-system/kustomization.yaml
Labels: none

terraform updates
  .envrc
  cluster/production/apps.yaml
  terraform/cloudflare/.terraform.lock.hcl
  terraform/flux/.terraform.lock.hcl
  terraform/infrastructure/.terraform.lock.hcl
  terraform/kube-cluster/.terraform.lock.hcl
  terraform/kube-cluster/main.tf
  terraform/kube-cluster/outputs.tf
  terraform/qemu-guest-agent/.terraform.lock.hcl
  terraform/qemu-guest-agent/main.tf
Labels: none

update kustomization files
  apps/production/kustomization.yaml
  infrastructure/config/kustomization.yaml
Labels: none

update kustomization files
  infrastructure/config/notifications/kustomization.yaml
  infrastructure/config/repositories/git/kustomization.yaml
  infrastructure/config/repositories/helm/kustomization.yaml
  infrastructure/config/repositories/kustomization.yaml
Labels: none

change order of loading
  infrastructure/config/kustomization.yaml
Labels: none

update terraform
  terraform/flux/main.tf
Labels: none

update infra configs
  cluster/production/infrastructure.yaml
  infrastructure/config/cluster-configs.yaml
  infrastructure/config/kustomization.yaml
Labels: none

update infra-config
  cluster/production/infrastructure.yaml
Labels: none

update git repo settings
  apps/production/authentik/authentik/ks.yaml
  apps/production/cert-manager/cert-manager/ks.yaml
  apps/production/default/echo-server/ks.yaml
  apps/production/default/hajimari/ks.yaml
  apps/production/flux-system/addons/ks.yaml
  apps/production/flux-system/weave-gitops/ks.yaml
  apps/production/kube-system/cilium/ks.yaml
  apps/production/kube-system/external-secrets/ks.yaml
  apps/production/kube-system/local-path-provisioner/ks.yaml
  apps/production/kube-system/metrics-server/ks.yaml
  apps/production/kube-system/reloader/ks.yaml
  apps/production/monitoring/grafana/ks.yaml
  apps/production/monitoring/kube-prometheus-stack/ks.yaml
  apps/production/monitoring/kubernetes-dashboard/ks.yaml
  apps/production/networking/cloudflared/ks.yaml
  apps/production/networking/external-dns/ks.yaml
  apps/production/networking/ingress-nginx/ks.yaml
  apps/production/networking/k8s-gateway/ks.yaml
  apps/production/networking/metallb/ks.yaml
  apps/production/system-upgrade/system-upgrade-controller/ks.yaml
  tmpl/kubernetes/flux/cluster.yaml
Labels: area/templates

update app paths
  apps/production/authentik/authentik/ks.yaml
  apps/production/cert-manager/cert-manager/ks.yaml
  apps/production/default/echo-server/ks.yaml
  apps/production/default/hajimari/ks.yaml
  apps/production/flux-system/addons/ks.yaml
  apps/production/flux-system/weave-gitops/ks.yaml
  apps/production/kube-system/cilium/ks.yaml
  apps/production/kube-system/external-secrets/ks.yaml
  apps/production/kube-system/local-path-provisioner/ks.yaml
  apps/production/kube-system/metrics-server/ks.yaml
  apps/production/kube-system/reloader/ks.yaml
  apps/production/monitoring/grafana/ks.yaml
  apps/production/monitoring/kube-prometheus-stack/ks.yaml
  apps/production/monitoring/kubernetes-dashboard/ks.yaml
  apps/production/networking/cloudflared/ks.yaml
  apps/production/networking/external-dns/ks.yaml
  apps/production/networking/ingress-nginx/ks.yaml
  apps/production/networking/k8s-gateway/ks.yaml
  apps/production/networking/metallb/ks.yaml
  apps/production/system-upgrade/system-upgrade-controller/ks.yaml
Labels: none

update misc settings
  apps/production/authentik/authentik/ks.yaml
  apps/production/default/hajimari/app/helmrelease.yaml
  apps/production/flux-system/weave-gitops/app/helmrelease.yaml
Labels: none

update weave-gitops
  apps/production/flux-system/weave-gitops/app/helmrelease.yaml
Labels: none

update weave ingress
  apps/production/flux-system/weave-gitops/app/helmrelease.yaml
Labels: none

update weave ingress
  apps/production/flux-system/weave-gitops/app/helmrelease.yaml
Labels: none

update prometheus
  apps/production/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: none

update & add Rook
  apps/production/kustomization.yaml
  apps/production/rook-ceph/kustomization.yaml
  apps/production/rook-ceph/namespace.yaml
  apps/production/rook-ceph/rook-ceph/app/helmrelease.yaml
  apps/production/rook-ceph/rook-ceph/app/kustomization.yaml
  apps/production/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  apps/production/rook-ceph/rook-ceph/cluster/kustomization.yaml
  apps/production/rook-ceph/rook-ceph/ks.yaml
Labels: none

updates
  apps/production/flux-system/kustomization.yaml
  apps/production/flux-system/notifications/discord/discord-notifications.yaml
  apps/production/flux-system/notifications/discord/discord-secret.yaml
  apps/production/flux-system/notifications/discord/kustomization.yaml
  apps/production/flux-system/notifications/github/externalsecret.yaml
  apps/production/flux-system/notifications/github/kustomization.yaml
  apps/production/flux-system/notifications/github/notification.yaml
  apps/production/flux-system/notifications/kustomization.yaml
  infrastructure/config/kustomization.yaml
Labels: none

update cloudflare tunnel
  infrastructure/config/cluster-secrets.yaml
Labels: none

nfs-client-provisioner
  apps/production/nfs-provisioner/kustomization.yaml
Labels: none

update
  apps/production/flux-system/addons/webhooks/github/ingress.yaml
  apps/production/flux-system/addons/webhooks/github/receiver.yaml
Labels: none

update ingress
  apps/production/flux-system/addons/webhooks/github/ingress.yaml
Labels: none

update
  apps/production/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: none

update
  apps/production/flux-system/addons/webhooks/github/ingress.yaml
Labels: none
